<?xml version="1.0" encoding="utf-8"?>
<!--
Questo file viene utilizzato dal processo di pubblicazione/creazione pacchetto del progetto Web. È possibile personalizzare il comportamento del processo
modificando il file MSBuild. Per ulteriori informazioni su questo argomento, visitare http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\daneri\Documents\Visual Studio 2013\Archivio Zip\Impianti.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>DocumentazioneImpianti</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bbrlpmm4lw.database.windows.net,1433;Initial Catalog=DbImpianti;Integrated Security=False;User ID=ADFIEA@bbrlpmm4lw;Password=01Gennaio1996;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:bbrlpmm4lw.database.windows.net,1433;Initial Catalog=DbImpianti;Integrated Security=False;User ID=ADFIEA@bbrlpmm4lw;Password=01Gennaio1996;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:bbrlpmm4lw.database.windows.net,1433;Database=DbImpianti;User ID=ADFIEA@bbrlpmm4lw;Password=01Gennaio1996;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DbImpianti" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:bbrlpmm4lw.database.windows.net,1433;Initial Catalog=DbImpianti;Integrated Security=False;User ID=ADFIEA@bbrlpmm4lw;Password=01Gennaio1996;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:bbrlpmm4lw.database.windows.net,1433;Initial Catalog=DbImpianti;Integrated Security=False;User ID=ADFIEA@bbrlpmm4lw;Password=01Gennaio1996;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DbImpianti_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:bbrlpmm4lw.database.windows.net,1433;Database=DbImpianti;User ID=ADFIEA@bbrlpmm4lw;Password=01Gennaio1996;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Impianti" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=DbImpianti;User ID=UtenteBorgoCason;Password=8Maggio2010" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Impianti_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=.\SQLEXPRESS;uid=UtenteBorgoCason;pwd=8Maggio2010;DataBase=DbImpianti" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DbImpianti-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bbrlpmm4lw.database.windows.net,1433;Initial Catalog=DbImpianti;Integrated Security=False;User ID=ADFIEA@bbrlpmm4lw;Password=01Gennaio1996;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:bbrlpmm4lw.database.windows.net,1433;Initial Catalog=DbImpianti;Integrated Security=False;User ID=ADFIEA@bbrlpmm4lw;Password=01Gennaio1996;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Impianti-Web.config Connection String" />
  </ItemGroup>
</Project>